.wrap-box {
  margin-bottom: 40px;

  .title {
    color: black;
    font-size: 25px;
  }
  .content {
    color: gray;
  }
  .red {
    display: flex;
    gap: 20px;
    background-color: red;
  }
  .orange {
    display: flex;
    gap: 50px;
    background-color: orange;
  }
  .yello {
    display: flex;
    gap: 50px;
    background-color: yellow;
  }
  .green {
    background-color: green;
  }
  .blue {
    background-color: blue;
  }
  .dark {
    background-color: darkblue;
  }
  .purple {
    background-color: purple;
  }
}

.mainright {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 10px;

  .number {
    display: flex;
    align-items: center;
  }
  .number_btn {
    border: none;
  }
  .select {
    gap: 5px;
    width: 100%;
    display: flex;
  }
  .packaging {
    width: 200px;
  }
}

.main_wrap {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .select {
    width: 200px;
    margin: 20px 0px;
  }
  .input {
    width: 200px;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .btn {
    width: 200px;
  }
  .table {
    width: 80%;
    color: white;
  }
}
